/*--GENERAL--*/
.info_button {
  background: rgba(255, 255, 255, 0.7); }
  .info_button:hover {
    background-color: #212529;
    border-color: #212529; }

h2 {
  padding: 1%;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  letter-spacing: 2px; }

section {
  max-width: 1600px;
  margin: 0 auto; }

::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-track {
  background: #212529; }

::-webkit-scrollbar-thumb {
  background: #05333a; }

::-webkit-scrollbar-thumb:hover {
  background: #17a2b8; }

/* --CLEARFIX-- */
.row::before,
.row::after {
  content: "";
  display: table;
  clear: both; }

/*--NAVBAR--*/
.navbar {
  max-width: 1600px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .navbar {
      justify-content: flex-start; } }
  .navbar .navbar-brand {
    width: 30%; }
    @media (max-width: 1200px) {
      .navbar .navbar-brand {
        margin-left: 2%; } }
    .navbar .navbar-brand .logo_box {
      position: relative;
      transition: .5s; }
      .navbar .navbar-brand .logo_box .company {
        position: absolute;
        font-family: Gulim;
        font-weight: bold;
        top: 40%;
        left: 5%;
        transition: .5s; }
      .navbar .navbar-brand .logo_box .logo {
        width: 20%;
        border-radius: 50%;
        transition: .5s; }
      .navbar .navbar-brand .logo_box:hover .company {
        font-size: 1.8rem; }
      .navbar .navbar-brand .logo_box:hover .logo {
        box-shadow: 0 0 10px 5px #fff; }

/*--HEADER CAROUSEL--*/
.carousel {
  max-width: 1600px;
  margin: 0 auto; }
  .carousel .carousel-caption {
    bottom: 35%;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px #05333a; }
  .carousel .carousel-indicators li {
    cursor: pointer;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    margin-right: 7px;
    margin-left: 7px;
    box-shadow: 0 0 5px 2px #05333a;
    transition: 0.5s; }
    .carousel .carousel-indicators li:hover {
      transform: rotate(270deg); }
  .carousel .prev_next {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 10px #05333a;
    transition: 0.4s; }
    .carousel .prev_next:hover {
      transform: scale(1.5); }
  .carousel .w-100 {
    height: 80vh;
    object-fit: cover; }

/*--ABOUT US--*/
.aboutUS {
  background: #212529;
  padding-bottom: 3%; }
  .aboutUS h2 {
    color: #fff; }
  .aboutUS .aboutUs_scrollspy {
    width: 90%;
    margin: 0 auto;
    display: flex; }
    .aboutUS .aboutUs_scrollspy .list-group {
      flex: 23%;
      margin: 0 1%; }
      @media (max-width: 780px) {
        .aboutUS .aboutUs_scrollspy .list-group {
          text-align: center;
          margin-bottom: 3%; } }
      .aboutUS .aboutUs_scrollspy .list-group .list-group-item.active {
        background: #05333a;
        border-color: #05333a; }
      .aboutUS .aboutUs_scrollspy .list-group .list-group-item:hover {
        background: #17a2b8;
        border-color: #17a2b8;
        color: #fff; }
    .aboutUS .aboutUs_scrollspy .scrollspy-example {
      position: relative;
      flex: 75%;
      padding: 0 1%;
      overflow-y: scroll;
      height: 40vh;
      background: #212529;
      color: #fff;
      text-align: justify; }
      @media (max-width: 780px) {
        .aboutUS .aboutUs_scrollspy .scrollspy-example {
          flex: 100%; } }

/*# sourceMappingURL=style.css.map */
