/*--GENERAL--*/
/*--KEYFRAMES--*/
@keyframes shake-lr {
  0%,
	100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%; }
  10% {
    transform: rotate(8deg); }
  20%,
	40%,
	60% {
    transform: rotate(-10deg); }
  30%,
	50%,
	70% {
    transform: rotate(10deg); }
  80% {
    transform: rotate(-8deg); }
  90% {
    transform: rotate(8deg); } }
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    transform: scale3d(1, 1, 1); } }
@keyframes flip-diagonal-2-fwd {
  0% {
    transform: translateZ(0) rotate3d(-1, 1, 0, 0deg); }
  100% {
    transform: translateZ(160px) rotate3d(-1, 1, 0, 360deg); } }
.info_button {
  background: rgba(255, 255, 255, 0.7);
  border-color: #17a2b8;
  color: #17a2b8; }
  .info_button:hover {
    background-color: #212529;
    border-color: #212529;
    color: #fff; }

h2 {
  padding: 1%;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  letter-spacing: 2px; }

section {
  max-width: 1600px;
  margin: 0 auto; }

.box {
  width: 90%;
  margin: 0 auto; }

::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-track {
  background: #212529; }

::-webkit-scrollbar-thumb {
  background: #05333a; }

::-webkit-scrollbar-thumb:hover {
  background: #17a2b8; }

/*--CLEARFIX--*/
.row::before,
.row::after {
  content: "";
  display: table;
  clear: both; }

/*--NAVBAR--*/
.navbar {
  max-width: 1600px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .navbar {
      justify-content: flex-start; } }
  .navbar .navbar-brand {
    width: 30%; }
    @media (max-width: 1200px) {
      .navbar .navbar-brand {
        margin-left: 2%; } }
    .navbar .navbar-brand .logo_box {
      position: relative;
      transition: .5s; }
      .navbar .navbar-brand .logo_box .company {
        position: absolute;
        font-family: Gulim;
        font-weight: bold;
        top: 40%;
        left: 5%;
        transition: .5s; }
      .navbar .navbar-brand .logo_box .logo {
        width: 20%;
        border-radius: 50%;
        transition: .5s; }
      .navbar .navbar-brand .logo_box:hover .company {
        font-size: 1.8rem; }
      .navbar .navbar-brand .logo_box:hover .logo {
        box-shadow: 0 0 10px 5px #fff; }

/*--HEADER CAROUSEL--*/
.carousel {
  max-width: 1600px;
  margin: 0 auto; }
  .carousel .carousel-caption {
    bottom: 35%;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px #05333a; }
    .carousel .carousel-caption .info_button {
      animation: shake-lr 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
  .carousel .carousel-indicators li {
    cursor: pointer;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    margin-right: 7px;
    margin-left: 7px;
    box-shadow: 0 0 5px 2px #05333a;
    transition: 0.5s; }
    .carousel .carousel-indicators li:hover {
      transform: rotate(270deg); }
  .carousel .prev_next {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 10px #05333a;
    transition: 0.4s; }
    .carousel .prev_next:hover {
      transform: scale(1.5); }
  .carousel .w-100 {
    height: 80vh;
    object-fit: cover; }

/*--ABOUT US--*/
.aboutUS {
  background: #212529;
  padding-bottom: 3%; }
  .aboutUS h2 {
    color: #fff; }
  .aboutUS .aboutUs_scrollspy {
    width: 90%;
    margin: 0 auto;
    display: flex; }
    .aboutUS .aboutUs_scrollspy .list-group {
      flex: 23%;
      margin: 0 1%; }
      @media (max-width: 780px) {
        .aboutUS .aboutUs_scrollspy .list-group {
          text-align: center;
          margin-bottom: 3%; } }
      .aboutUS .aboutUs_scrollspy .list-group .list-group-item.active {
        background: #05333a;
        border-color: #05333a; }
      .aboutUS .aboutUs_scrollspy .list-group .list-group-item:hover {
        background: #17a2b8;
        border-color: #17a2b8;
        color: #fff; }
    .aboutUS .aboutUs_scrollspy .scrollspy-example {
      position: relative;
      flex: 75%;
      padding: 0 1%;
      overflow-y: scroll;
      height: 40vh;
      background: #212529;
      color: #fff; }
      @media (max-width: 780px) {
        .aboutUS .aboutUs_scrollspy .scrollspy-example {
          flex: 100%; } }

/*--PRODUCTS--*/
.products {
  background: linear-gradient(113deg, #e6e6e6 27%, #717171 98%); }
  .products .products_row {
    padding-bottom: 2px;
    margin-bottom: 3%;
    border-bottom: 2px solid #17a2b8; }
    .products .products_row:after {
      content: '';
      width: 90%;
      height: 2px;
      background: #17a2b8;
      margin: 2% auto 0; }
    .products .products_row .card {
      text-align: center;
      transition: 0.6s; }
      @media (max-width: 1400px) {
        .products .products_row .card {
          margin-bottom: 2%; } }
      .products .products_row .card:hover {
        box-shadow: 2px 2px 10px #212529; }
      .products .products_row .card:hover .info_button {
        animation: jello-horizontal 1s both; }
      .products .products_row .card:hover .card-img-top {
        filter: saturate(200%); }
      .products .products_row .card .card-img-top {
        filter: brightness(80%) contrast(120%) grayscale(10%); }
      .products .products_row .card p {
        line-height: 1.2; }
  .products .carousel {
    padding-bottom: 2%; }
    .products .carousel .container {
      height: inherit; }
      .products .carousel .container .row {
        width: 90%;
        margin: 0 auto; }
        .products .carousel .container .row img {
          width: 100%;
          height: 40vh;
          object-fit: cover;
          border: 1px solid #17a2b8;
          padding: 4px;
          border-radius: 0 10px 0 10px; }
          @media (max-width: 992px) {
            .products .carousel .container .row img {
              display: none; } }
        .products .carousel .container .row .badge {
          animation: shake-lr 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
        .products .carousel .container .row p {
          text-align: justify; }
        @media (max-width: 1400px) {
          .products .carousel .container .row .col-xl-4, .products .carousel .container .row .col-xl-8 {
            flex: 50%;
            max-width: 50%;
            padding: 3%; } }
        @media (max-width: 992px) {
          .products .carousel .container .row .col-xl-4, .products .carousel .container .row .col-xl-8 {
            flex: 100%;
            max-width: 100%; } }

/* --GALLERY-- */
.gallery {
  background-color: #212529;
  padding-bottom: 1%; }
  .gallery h2 {
    color: #fff;
    transition: 0.4s; }
  .gallery .element {
    height: 20vh;
    margin: 5px;
    transition: 0.4s; }
    .gallery .element img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover; }
  .gallery .inside-container-gallery, .gallery .flex-column-gallery, .gallery .flex-row-gallery {
    display: flex;
    flex-wrap: wrap; }
  .gallery .flex-column-gallery {
    flex-direction: column; }
    @media (max-width: 780px) {
      .gallery .flex-column-gallery {
        flex-direction: column-reverse; } }
    @media (max-width: 450px) {
      .gallery .flex-column-gallery {
        flex-direction: row; } }
  .gallery .flex-1 {
    flex: 1; }
    @media (max-width: 780px) {
      .gallery .flex-1 {
        flex: 45%; } }
    @media (max-width: 450px) {
      .gallery .flex-1 {
        flex: 100%; } }
  .gallery .element-big {
    height: 40vh; }
    @media (max-width: 450px) {
      .gallery .element-big {
        height: 20vh; } }
  .gallery:hover .element {
    opacity: 0.3; }
  .gallery .element:hover {
    opacity: 1;
    cursor: pointer; }

#lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0; }
  #lightbox img {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #17a2b8;
    padding: 8px;
    border-radius: 0 10px 0 10px;
    cursor: pointer; }
    @media (max-width: 780px) {
      #lightbox img {
        max-width: 95%;
        max-height: 95%; } }

/* --READ MORE-- */
.readMore {
  background: linear-gradient(113deg, #e6e6e6 27%, #717171 98%); }
  .readMore .ourTeam {
    padding-bottom: 3%; }
    .readMore .ourTeam .img-fluid {
      height: 40vh;
      width: 100%;
      object-fit: cover;
      border-radius: 0 10px 0 10px;
      border: 1px solid #17a2b8;
      padding: 5px;
      margin-bottom: 2%; }
    .readMore .ourTeam p {
      margin: 0; }
    .readMore .ourTeam .div-icon {
      margin: 2% 2% 4%; }
      .readMore .ourTeam .div-icon .fa_icon {
        display: inline-block;
        color: #fff;
        background: #17a2b8;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        font-size: 14px; }
        @media (max-width: 992px) {
          .readMore .ourTeam .div-icon .fa_icon {
            width: 25px;
            height: 25px;
            line-height: 25px; } }
        .readMore .ourTeam .div-icon .fa_icon:hover {
          animation: flip-diagonal-2-fwd 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
    .readMore .ourTeam [class^="col-"] {
      border: 1px solid #17a2b8;
      padding: 10px;
      margin: 1%;
      border-radius: 5px;
      max-width: 31.33%; }
      @media (max-width: 780px) {
        .readMore .ourTeam [class^="col-"] {
          max-width: 94%; } }
      .readMore .ourTeam [class^="col-"]:hover {
        box-shadow: inset 0px 0px 20px 0px #17a2b8; }
      .readMore .ourTeam [class^="col-"]:hover img {
        filter: saturate(200%); }
      .readMore .ourTeam [class^="col-"]:hover .info_button {
        animation: jello-horizontal 1s both; }

/*# sourceMappingURL=style.css.map */
